/* 博客文章中的图片样式 */
#article-container img{
	border-radius: 11px;
	
}

/* 博客mindmap插件css样式 */
  blockquote.pullquote {
    position: relative;
    max-width: 100%;
    font-size: 110%;
  }
  /* 强制隐藏多渲染出来的 */
  #kity_svg_24{
	cursor: -webkit-grab;
	display: none !important;  
  }
